@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Akaya+Kanadaka&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
/* NAVBAR */
nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    float: left;
}
/* IMAGE PRINCIPALE */
#imagePrincipale {
    padding-top: 60px;
    background: url(photos/fond_site.png) no-repeat fixed 50%;
    background-size: cover;
    height: 799px;
}
h1 {
    font-family: 'Akaya Kanadaka';
    text-align: center;
    color :white;
    font-size: 6em;
    margin-top: 280px;
    text-shadow: 1px 2px 20px black;
}
#premierTrait {
    height: 3px;
    width: 25%;
    margin: -3px auto;
    background-color: white;
    box-shadow: 1px 2px 3px black;
}
h3 {
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 1px 2px 20px black;
}
/* PRESENTATION */
#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0;
}
#texteIntro, #texteJeu {
    padding: 0px 20%;
    font-size: 1.3em;
    text-align: center;
}
#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.imagesPrestations h4 {
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img {
    scale: 0.8;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.6);
}
.imagesPrestations img:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
/* MEMBRES DU GROUPE */
#groupe {
    height: 2400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}
#groupe h2 {
    padding-top: 60px;
}
#Axel {
    background: url(photos/photo_Axel.jpg);
}
#Amandine {
    background: url(photos/photo_Amandine.jpg);
}
#Nicolas {
    background: url(photos/photo_Nicolas.jpg);
}
#Thomas {
    background: url(photos/photo_Thomas.jpg);
}
#groupe li {
    margin: 65px 100% 0 200px;
    height: 450px;
    width: 100%;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
    float:left;
    max-width: 450px;
}
#groupe #Amandine, #groupe #Thomas {
    margin-left: 55%;
}
#groupe #Axel, #groupe #Nicolas {
    margin-left: 15%;
}
#groupe #nom {
    height: 45px;
    width: 235px;
    background-color: #F25263;
    float: left;
    margin: 50px -180px 0 -180px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgb(61, 112, 26);
}
#Amandine #nom, #Thomas #nom {
    float: right;
    background-color: #56FCF9;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
}
#texteGroupe {
    width: 500px;
    font-size: 1.3em;
    margin: 50px 0 0 500px;
}
#texteGroupe2 {
    width: 500px;
    font-size: 1.3em;
    margin: 50px 0 0 -550px;
    text-align: right;
}
/* LIEN TELECHARGEABLE */
#lien {
    height: 400px;
    background-color: #FFFAE1;
    padding: 1px 2%;
    text-align: center;
    font-size: 1.3em;
}
#download {
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.6);
    background-color: #FFFAE1;
    width: 500px;
    margin: auto;
}
#download:hover {
    transform: scale(1.05);
    background-color: green;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* FOOTER */
footer {
    background-color: #2E8237;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
    height: 130vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    margin-top: 5px;
}
textarea {
    resize: vertical;
}
button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #56FCF9;
    color: #FFFAE1;
    transition: 0.3s ease-in-out;
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success {
    background-color: #56FCF9;
    color: black;
    animation: status 4s ease forwards;
}
#status.error {
    background-color: #F25263;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}